<!Doctype html>
<html>

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
	<style>
		form {
		  border: 200px solid lightblue;
		}
		
		/* Full-width inputs */
		input[type=text], input[type=password] {
		  width: 100%;
		  padding: 12px 20px;
		  margin: 8px 0;
		  display: inline-block;
		  border: 2px solid lightseagreen;
		  box-sizing: border-box;
		  color:black;
		}
		
		/* Set a style for all buttons */
		button {
		  background-color:lightseagreen;
		  color: rgb(7, 6, 6);
		  padding: 14px 20px;
		  margin: 8px 0;
		  border: none;
		  cursor: pointer;
		  width: 30%;
		}
		
		/* Add a hover effect for buttons */
		button:hover {
		  opacity: 0.8;
		}
		
		/* Extra style for the cancel button (red) */
		.cancelbtn {
		  width: auto;
		  padding: 10px 18px;
		  background-color: #f44336;
		}
		
		/* Center the avatar image inside this container */
		.imgcontainer {
		  text-align: center;
		  margin: 24px 0 12px 0;
		}
		
		
		
		/* Add padding to containers */
		.container {
		  padding: 46px;
		
		  
		  
		}
		h4{
		color: lightseagreen;
		text-align: center;
		font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: large;
		}
		
		/* The "Forgot password" text */
		span.psw {
		  float: right;
		  padding-top: 16px;
		}
		
		/* Change styles for span and cancel button on extra small screens */
		@media screen and (max-width: 300px) {
		  span.psw {
			display: block;
			float: none;
		  }
		  .cancelbtn {
			width: 100%;
		  }
		}
		/* 
Author: @mrjopino
Name: Design Register
Description: Design register crazy!
*/

@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

body {
	background: #1b1e24;
  background-image:-webkit-linear-gradient(right,#1b1e24,#1b1e24 50%,#1b1e24);
	background-image:-moz-linear-gradient(right,#1b1e24,#1b1e24 50%,#1b1e24);
  background-image:-o-linear-gradient(right,#1b1e24,#1b1e24 50%,#1b1e24);
	background-image:-ms-linear-gradient(right,#1b1e24,#1b1e24 50%,#1b1e24);
	background-image:linear-gradient(to left,#1b1e24,#1b1e24 50%,#1b1e24);
  text-align: center;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

input {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
}

.Registro {
	margin: 50px auto;
	width: 242px;
}

.Registro span {
	color: hsl(5, 50%, 57%);
	display: block;
	height: 48px;
	line-height: 48px;
	position: absolute;
	text-align: center;
	width: 36px;
}

.Registro input {
	border: none;
	height: 48px;
	outline: none;
}

.Registro input[type="text"] {
	background-color: #fff;
	border-top: 2px solid #2c90c6;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
	color: #363636;
	padding-left: 36px;
	width: 204px;
}

.Registro input[type="password"] {
	background-color: #fff;
	border-top: 2px solid #2c90c6;
	border-right: 1px solid #000;
	border-bottom: 2px solid #2c90c6;
	border-left: 1px solid #000;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
	color: #363636;
	margin-bottom: 20px;
	padding-left: 36px;
	width: 204px;
}

.Registro input[type="submit"] {
	background-color: #2c90c6;
	border: 1px solid #2c90c6;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
	color: #fff;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	width: 240px;
}

.Registro input[type="submit"]:hover {
	background-color: #2c70c6;
  box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

.texto {
  color: #2c90c6; 
  font-size: 40px; 
  margin: 2% auto;
  text-align: center;
  font-family: 'Titan One';   
  text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
  padding-top: 40px;
}

p:hover {
  text-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}


html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
.margin {
  margin: 0 !important;
}
</style>
  </head>
<body>
	
<script>
	var myInput = document.getElementById("psw");
	var letter = document.getElementById("letter");
	var capital = document.getElementById("capital");
	var number = document.getElementById("number");
	var length = document.getElementById("length");
	
	// When the user clicks on the password field, show the message box
	myInput.onfocus = function() {
	  document.getElementById("message").style.display = "block";
	}
	
	// When the user clicks outside of the password field, hide the message box
	myInput.onblur = function() {
	  document.getElementById("message").style.display = "none";
	}
	
	// When the user starts to type something inside the password field
	myInput.onkeyup = function() {
	  // Validate lowercase letters
	  var lowerCaseLetters = /[a-z]/g;
	  if(myInput.value.match(lowerCaseLetters)) {
		letter.classList.remove("invalid");
		letter.classList.add("valid");
	  } else {
		letter.classList.remove("valid");
		letter.classList.add("invalid");
	}
	
	  // Validate capital letters
	  var upperCaseLetters = /[A-Z]/g;
	  if(myInput.value.match(upperCaseLetters)) {
		capital.classList.remove("invalid");
		capital.classList.add("valid");
	  } else {
		capital.classList.remove("valid");
		capital.classList.add("invalid");
	  }
	
	  // Validate numbers
	  var numbers = /[0-9]/g;
	  if(myInput.value.match(numbers)) {
		number.classList.remove("invalid");
		number.classList.add("valid");
	  } else {
		number.classList.remove("valid");
		number.classList.add("invalid");
	  }
	
	  // Validate length
	  if(myInput.value.length >= 8) {
		length.classList.remove("invalid");
		length.classList.add("valid");
	  } else {
		length.classList.remove("valid");
		length.classList.add("invalid");
	  }
	}
	</script>
	
	<form action="register" method="POST">
		
		<div class="container">
			<% if(messages.length>0 ) { %>
				<div class="alert alert-success">
					<h4><%= messages %></h4>
					
				</div>
				<% } %>
		<h4>Signup Form</h4>

		
		<input type="text" placeholder="firstname" name="firstname" value="" required>
	
	<input type="text" placeholder="lastname" name="lastname" value="" required>

	<input type="text" placeholder="email" name="email" value="" required>

		<input type="text" placeholder="phonenumber" name="phonenumber" value="" required>
	
	<input type="password" placeholder="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>

	<input type="text" placeholder="sex" name="sex" value="" required>
	<button type="submit">Register</button>
	<a href="/userlogin">Already have an account?</a>
	
</form>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">


</body>
</html>